    <section id="fh5co-documentation" data-section="documentation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate fadeInUp animated">{{ with .Site.Params.documentation.title }}{{ . | markdownify }}{{ end }}</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>{{ with .Site.Params.documentation.description }}{{ . | markdownify }}{{ end }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 text-center">
                    <div class="mr-2 card">
                        <i class="icon icon-book-open"></i>
                        <h3>Reference Documentation</h3>
                        <ul class="text-left">
                            {{ range .Site.Params.documentation.reference.item }}
                            <li>
                                <a href="{{ .url }}" target="_blank">{{ .title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <div class="ml-2 card">
                        <i class="icon icon-book-open"></i>
                        <h3>Community Documentation</h3>
                        <ul class="text-left">
                            {{ range .Site.Params.documentation.community.item }}
                            <li>
                                <a href="{{ .url }}" target="_blank">{{ .title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
        </div>
    </section>