	<section id="fh5co-work" data-section="events">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.events.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.events.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			{{ range $index, $element := .Site.Params.events.row }}
                {{ if mod $index 3 | eq 0 }}
                <div class="row row-bottom-padded-sm">
                {{end}}
                    <div class="col-md-4">
					    <a href="{{ .url }}" target="_blank" class="fh5co-project-item to-animate">
						    <img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive">
						    <div class="fh5co-text">
						    	<h2>{{ .title }}</h2>
						    	<span>{{ .dates }}</span>	
						    	<div>	
						    		<span>{{ .subtitle }}</span>
						    	</div>	
						    </div>

					    </a>
				    </div>				

				    <div class="clearfix visible-sm-block"></div>
                {{ if mod $index 3 | eq 2 }}
                </div>
                {{ end }}
            {{end}}
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.events.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>
