#fh5co-header .navbar-brand {
    font-size: 40px;
    font-weight: 300;
}

p.content {
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}

h1#javafx-15-highlights {
    text-decoration: underline;
}

.content #fh5co-home {
    height: auto;
}

.content .container .row {
    margin-top: 6em;
}

.content a {
    color: #000;
    font-weight: 500;
}

.content .box {
    margin-bottom: 3em;
    background-color: white;
    border-radius: 7px;
    color: dimgray;
    padding: 2em;
}
